@import "../bower_components/CSSmethods/vendor.styl"

/* DEFAULTS */
COLOR           = #444
BACKGROUND      = #C0DEED
THEME           = #3498DB

/* BUTTONS */
WHITE           = #fff
/* BUTTONS */
BUTTON          = #555
DISABLED        = #444
SUCCESS         = #2ECC71
ALERT           = #E74C3C
/* BACKGROUNDS */
LIGHT           = #ECF0F1
DARK            = #252525
/* OTHERS */
TRANSITION      = 300ms
BORDER-RADIUS   = 1px
FORM_BORDER     = #BDC3C7