[data-control=chat]
  top: 0
  bottom: 0
  height: 100%

  & > header
    width: 100%
    position: fixed

  & > article#message-list
    & div
      height: 80%
      padding-top: 1em
      padding-bottom: 4em
      & > ul
        & > li
          list-style: none

  & textarea
    height: 54px
    resize: none

  & footer
    background-color: #D8D8D8
    position: fixed
    bottom: 0
    z-index: 10
    width: 100%
    padding-bottom: 2em
