body
  background-color: BACKGROUND

section.landing-margin
  padding-top: 2em !important
  padding-bottom: 2em !important

input#room-name
  text-align: center

div.create-room
  margin-top: 3em
  margin-bottom: 3em