extends /bases/layout
block section
  section(data-control="chat")
    header.bck.margin-bottom.light.color.padding-bottom
      .row
        .column_12
          h2#chat-name.text.italic.thin.center
    article.padding.scroll
    footer.bck.margin-bottom.padding
      .form.row.center.text
        .column_4.offset_4
          input#username.large(type="text", placeholder="What's your name?", maxlength="25", autocomplete="off")
        .column_8.offset_2
          textarea#message.large(type="text", placeholder="Message...", maxlength="512", style="display: none", autocomplete="off")
