extends /bases/layout

block section
  section.bck.darkest.landing.text.center.color.white
    div.row.padding-bottom
      div.column_10.offset_1
        h2.thin.text.italic Here And Now
        h5.text.book
    div.row.margin-top
      div.column_10.offset_1.form.margin-top
        input.large.margin(type="text",placeholder="Chat room name...")
        button.large.margin Go!
